*{
    text-align: center;
}

.tab-buttons{
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
}

.tab-buttons>button{
    width: 33%;
    height: 40px;
    cursor: pointer;
    background-color: #669999;
    font-size: 20px;
}

.active-button{
    background-color: #476b6b !important;
}